<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <button (click)="toggleButton()"><h5 class="text-white h4">.About..</h5></button>
    <h5 class="text-white h4">.Contact..</h5>
    <h5 class="text-white h4">.Experience..</h5>
    <span class="text-muted">Ready, set, Build!!</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex flex-row-reverse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<!--<mat-slider min="1" max="100" step="1" value="50"></mat-slider>-->
