<!--<div id="navbarToggleExternalContent">-->
<!--  <div class="bg-dark p-4 d-flex flex-row-reverse">-->
<!--    <button type="button" class="btn btn-dark" (click)="toggleButton('about')" data-toggle="button" aria-pressed="false"-->
<!--            autocomplete="off"><h5 class="text-white h4">.About..</h5>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-dark" (click)="toggleButton('contact')" data-toggle="button" aria-pressed="false"-->
<!--            autocomplete="off"><h5 class="text-white h4">.Contact..</h5>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-dark" (click)="toggleButton('experience')" data-toggle="button" aria-pressed="false"-->
<!--            autocomplete="off"><h5 class="text-white h4">.Experience..</h5>-->
<!--    </button>-->
<!--  </div>-->


<div id="navbarToggleExternalContent">
  <div class="bg-dark p-4 d-flex flex-row-reverse">
    <button type="button" class="btn btn-dark" (click)="setSelectedTab('about')" data-toggle="button"
            aria-pressed="false"
            autocomplete="off"><h5 class="text-white h4">.About..</h5>
    </button>
    <button type="button" class="btn btn-dark" (click)="setSelectedTab('contacts')" data-toggle="button"
            aria-pressed="false"
            autocomplete="off"><h5 class="text-white h4">.Contacts..</h5>
    </button>
    <button type="button" class="btn btn-dark" (click)="setSelectedTab('experience')" data-toggle="button"
            aria-pressed="false"
            autocomplete="off"><h5 class="text-white h4">.Experience..</h5>
    </button>
  </div>
</div>
